@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
